{% extends 'partials/base.html' %}
{% block title %}Update item{% endblock %}
{% load crispy_forms_tags %}

<!-- content -->
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
           <div class="border bg-white p-3">
            <h2>Edit item</h2>
            <hr>
           
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy}}
                <a href="{% url 'dashboard-item' %}" class="btn btn-secondary">Cancel</a>
               <input type="submit" value="Update" class="btn btn-info" >
            </form>
           </div>
        </div>
    </div>
</div>
{% endblock%}