{% extends 'partials/base.html' %}
{% block title %}Items{% endblock %}
{% block content %}

  <!-- top navbar -->
  {% include 'partials/topnav.html' %}
  <!-- table -->
  <div class="container">
      <table class="table bg-white">
          <thead class="text-white" style="background-color: #06083E;">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Item</th>
              <th scope="col">Price</th>
              <th scope="col">Category</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr>
              <td>{{ item.id }}</td>             
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.category }}</td>

              <td>
                <span>
                  <a class="btn btn-success" href="{% url 'dashboard-item-update' item.id %}">Update</a>
                </span>
                <span>
                  <a class="btn btn-danger" href="{% url 'dashboard-item-delete' item.id %}">Delete</a>
                </span>
              </td>
                      
              
            </tr>
           {% endfor %}
          </tbody>
        </table>
  </div>
  <!-- end of table -->

  <!-- add item button -->
  <div class="container d-flex justify-content-center my-5">
    <a href="{% url 'add' %}">
      <button class="btn text-white" style="background-color: #06083E;">Add new item</button>
    </a>
  </div>
  <!-- end of add item button -->

{% endblock %}