<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Qunatity Page</title>

    <!-- botstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- icon bootstrap link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- custom css -->
    <link rel="stylesheet" href="../styles/style.css">

    <!-- charts CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-primary">
        <div class="container">

          <a class="navbar-brand text-white" href="../templates/index.html">Project</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                      <a class="nav-link active text-white" aria-current="page" href="../templates/index.html">Dashboard</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active text-white" aria-current="page" href="../templates/profile.html">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Logout</a>
                </li>
              </ul>
            
          </div>
        </div>
    </nav>
    <!-- end of navbar -->

    <!-- heading -->
    <div class="container">
      <h2 class="text-center white text-uppercase mt-3 text-primary">Quantity</h2>
    </div>
    <!-- end of heading -->

    <!-- Topside -->
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="card text-bg-primary mb-3 mt-3 rounded-0">
                    <div class="card-header h3">
                        New Information
                    </div>
                    <div class="card-body bg-light text-black ">
                        <marquee behavior="" direction="">
                            <h3 class="my-4">For New Expenditure Information Update Here!</h3>
                        </marquee>
                        <a href="../templates/add.html">
                          <button class="btn btn-primary">Add New Item</button>
                        </a>
                        <a href="../templates/update.html">
                          <button class="btn btn-primary">Update Item</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- end of first card -->

            <div class="col-md-8">
                    <div class="card text-bg-primary mb-3 mt-4 rounded-0">
                        <div class="card-header h3">
                            Statistics
                        </div>

                        <div class="card-body bg-light text-black ">
                            <div class="row">
                              <div class="col-md-4">
                                <a href="../templates/staff.html" class="text-decoration-none text-dark">
                                    <div class="card text-center p-3 my-card shadow">
                                        <h3><span>Staff <i class="bi bi-people-fill"></i></span></h3>
                                        <h3>4</h3>
                                    </div>
                                </a>
                              </div>
                              <!-- end of card 1 -->

                              <div class="col-md-4">
                                <a href="../templates/item.html" class="text-decoration-none text-dark">
                                    <div class="card text-center p-3 my-card shadow">
                                        <h3><span>Items <i class="bi bi-cart-fill"></i></span></h3>
                                        <h3>4</h3>
                                    </div>
                                </a>
                              </div>
                              <!-- end of card 2 -->

                              <div class="col-md-4">
                                <a href="" class="text-decoration-none text-dark">
                                    <div class="card text-center p-3 my-card shadow">
                                        <h3><span>Quantity <i class="bi bi-bar-chart-fill"></i></span></h3>
                                        <h3>4</h3>
                                    </div>
                                </a>
                              </div>
                              <!-- end of card 3 -->

                            </div>
                        </div>
                    </div>
            </div>
            <!-- end of second card -->
        </div>
    </div>
    <!-- end of Topside -->

    <!-- table -->
    <div class="container">
        <table class="table bg-white">
            <thead class="bg-primary text-white">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Amount</th>
                <th scope="col"> Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                  <a href="../templates/index.html" class="btn btn-sm btn-info ms-4">View</a>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>
                  <a href="../templates/index.html" class="btn btn-sm btn-info ms-4">View</a>
                </td>
                
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td>
                  <a href="../templates/index.html" class="btn btn-sm btn-info ms-4">View</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <!-- end of table -->




    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
  </body>
</html>