{% extends 'partials/base.html' %}
{% block title %}Staff {% endblock %}

{% block content %}
    <!-- top navbar -->
    {% include 'partials/topnav.html' %}
    <!-- end of top navbar -->


  <!-- table -->
  <div class="container">
      <table class="table bg-white">
          <thead class="text-white" style="background-color: #06083E;">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for worker in workers %}
            <tr>
              <th scope="row">{{ worker.id }}</th>
              <td>{{ worker.username }}</td>
              <td>{{ worker.email }}</td>
              <td>
                <a href="{% url 'dashboard-staff-details' worker.id %}">
                  <button class="btn text-white" style="background-color: #06083E;">View</button>
                </a>
              </td>
                
            </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
  <!-- end of table -->

{% endblock %}
