  <!-- Topside -->
  <div class="container">
    <div class="row mt-3">
        
        <div class="col-md-4">
            <div class="card text-bg-primary mb-3 mt-3 rounded-0">
                <div class="card-header h3 text-white" style="background: #06083E;">
                    New Information
                </div>
                <div class="card-body bg-light text-black ">
                    <marquee behavior="" direction="">
                        <h3 class="my-4">For New Expenditure Information Update Here!</h3>
                    </marquee>
                      <button type="button" class="btn btn-primary " style="background-color: #06083E;" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-whatever="update">Update Item</button>

                      {% comment %} <!-- this is the model for the verification -->
                      <div class="modal fade" id="staticBackdrop" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="ModalLabel">Verification</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <p> Please enter the access code to update the items. Contact the admin to obtain one.</p>
                                </div>

                                <!-- <form> -->
                                    <form method="post" action="{% url 'validate_code' %}">

                                    {% csrf_token %}
                                    <div class="mb-2">
                                    <label for="security code" class="col-form-label">Enter security code:</label>
                                    <input type="text" class="form-control" id="securitycode" name="securitycode" maxlength="6">
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <div class="container text-center">
                                    <div class="row gx-5">
                                      <div class="col">
                                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                      </div>
                                      <div class="col">
                                        <!-- <a href="{% url 'update' %}" class="btn text-white" style="background: #06083E;" onclick="validateCode()">
                                            Validate
                                        </a> -->
                                        <a class="btn btn-primary btn-sm text-white" onclick="validateCode()" style="background: #06083E;">
                                            Validate
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <script>
                        function validateCode() {
                            var enteredCode = document.getElementById('securitycode').value;
                            if (enteredCode.length > 0) {
                                document.forms[0].submit();  // Submit the form
                            } else {
                                alert('Please enter a code.');  // Display an alert if the code is empty
                            }
                        }
                    </script> {% endcomment %}
                </div>
            </div>
        </div>

        <!-- end of first card -->

        <div class="col-md-8">
                <div class="card text-bg-primary mb-3 mt-4 rounded-0">
                    <div class="card-header h3" style="background-color: #06083E;">
                        Statistics
                    </div>

                    <div class="card-body bg-light text-black ">
                        <div class="row">
                          <div class="col-md-4">
                            <a href="{% url 'dashboard-staff'%}" class="text-decoration-none text-dark">
                                <div class="card text-center p-3 my-card shadow">
                                    <h3><span>Staff <i class="bi bi-people-fill"></i></span></h3>
                                    <h3>4</h3>
                                </div>
                            </a>
                          </div>
                          <!-- end of card 1 -->

                          <div class="col-md-4">
                            <a href="{% url 'dashboard-item' %}" class="text-decoration-none text-dark">
                                <div class="card text-center p-3 my-card shadow">
                                    <h3><span>Items <i class="bi bi-cart-fill"></i></span></h3>
                                    <h3>4</h3>
                                </div>
                            </a>
                          </div>
                          <!-- end of card 2 -->

                          <div class="col-md-4">
                            <a href="{% url 'dashboard-quantity' %}" class="text-decoration-none text-dark">
                              <div class="card text-center p-3 my-card shadow">
                                  <h3><span>Quantity <i class="bi bi-bar-chart-fill"></i></span></h3>
                                  <h3>4</h3>
                              </div>
                          </a>
                          </div>
                          <!-- end of card 3 -->

                        </div>
                    </div>
                </div>
        </div>
        <!-- end of second card -->
    </div>
</div>
<!-- end of Topside -->