 {% extends 'partials/base.html' %}
{% block title %} Profile Update Page {% endblock %}

<!-- django crispy forms -->
{% load crispy_forms_tags %}


{% block content %}
     <!-- profile -->
    <div class="container">
      <div class="row my-5 ">
          <div class="col-md-2">
          </div>
          <!-- end of column 1 -->

          <div class="col-md-8 mt-5">
              <div class="card">
                <div class="card-body" style="background-color: #06083E;">
                <div class="row">

                    <div class="col-md-8 text-white">
                        <span class="h4"> Profile Update </span> 
                        <hr>
                        <form method="POST" enctype='multipart/form-data'>
                            {% csrf_token%} 
                            {{ user_form|crispy }}
                            {{ profile_form|crispy }}
                            <input type="submit" class="btn btn-success">

        </div>
    </div>

    </div>
</div>
    <!-- end of column 2 -->
    </div>
    </div>
    <!-- end of profile -->


{% endblock %}

