{% extends 'partials/dashboard_base.html' %}

<!-- Name of the page-->
{% block title %}Items{% endblock %}

{% block content %}

  <!-- top navbar -->
  {% include 'partials/topnav.html' %}
  <!-- table -->
  
  <div class="container">
      <table class="table bg-white">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Item</th>
              <th scope="col">Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <a href="../templates/update.html" class="btn btn-sm btn-info">Edit</a>
                <a href="../templates/update.html" class="btn btn-sm btn-danger ms-4">Remove</a>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>
                <a href="../templates/update.html" class="btn btn-sm btn-info">Edit</a>
                <a href="../templates/update.html" class="btn btn-sm btn-danger ms-4">Remove</a>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>
                <a href="../templates/update.html" class="btn btn-sm btn-info">Edit</a>
                <a href="../templates/update.html" class="btn btn-sm btn-danger ms-4">Remove</a>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  <!-- end of table -->

  <!-- add item button -->
  <div class="container d-flex justify-content-center my-5">
    <a href="../templates/add.html">
      <button class="btn btn-lg btn-primary text-uppercase">Add new Item</button>
    </a>
  </div>
  <!-- end of add item button -->

{% endblock %}
```