{% extends 'partials/dashboard_base.html' %}

<!-- Name of the page-->
{% block title %}Details{% endblock %}

{% block content %}
 
  <!-- top navbar -->
  {% include 'partials/topnav.html' %}
  <!-- end of top navbar -->
    
  <!-- table -->
  <div class="container">
      <table class="table bg-white">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Item</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Amount</th>
              <th scope="col"> Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>
                <a href="../templates/index.html" class="btn btn-sm btn-info ms-4">View</a>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>
                <a href="../templates/index.html" class="btn btn-sm btn-info ms-4">View</a>
              </td>
              
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
              <td>
                <a href="../templates/index.html" class="btn btn-sm btn-info ms-4">View</a>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  <!-- end of table -->
{% endblock %}
