  <!-- table -->
  <div class="container">

    <h3 class="display-3 d-flex justify-content-center">Staff Page</h3>

    <table class="table bg-white">
        <thead class="bg-primary text-white">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Item</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Pen</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Book</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Calculator</td>
          </tr>
        </tbody>
      </table>
</div>
<!-- end of table -->
