{% extends 'partials/dashboard_base.html' %}

<!-- Name of the page-->
{% block title %}Staff {% endblock %}


{% block content %}
    <!-- top navbar -->
    {% include 'partials/topnav.html' %}
    <!-- end of top navbar -->


  <!-- table -->
  <div class="container">
      <table class="table bg-white">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
  </div>
  <!-- end of table -->

{% endblock %}
