{% extends "base.html" %}
{% block title %} Expenditure System | Register Page {% endblock title%}

{% block content %}
    <div class="form-content my-3 p-3">
		<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 ">
                    <div class="text-white card shadow-lg border-1 rounded-lg mt-0 mb-5" style="
                    background-color: #06083e;">

                        <!-- this is the header title 'create account' -->
                        <div class="card-header justify-content-center">
                        	<h1 class="font-weight-light my-4 text-center">Register</h1>
                        </div>

                        <!-- the card that comes after the title -->
                        <div class="card-body border-bottom border-top">

                            <!-- form for filling in -->
                            <form method="POST">
                                {% csrf_token %}

                                <!-- if statement for the errors concerning duplicate usernames, weak passwords etc 
                                appears only after clicking sign up button -->
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}


                                <!-- the form fields and the two columns -->

                                <!-- first row is first name and last name -->
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">First Name</label>
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Last Name</label>
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                </div>

                                <!-- second row is username and email -->
                                <div class="form-row">
                                    <div class="col-md-6">
		                                <div class="form-group">
		                                	<label class="small mb-1">Username</label>
		                                    {{ form.username }}
		                                </div>
		                            </div>
                                    <div class="col-md-6">
		                                <div class="form-group">
		                                	<label class="small mb-1">Email</label>
		                                    {{ form.email }}
		                                </div>
		                            </div>
		                        </div>

                                <!-- last row is password and the confirm password field -->
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Password</label>
                                            {{ form.password1 }}
                                            {{ form.errors.password }}
                                            <meter id="password-strength-meter" min="0" max="4" low="2" high="3" optimum="4" style="width: 85%;"></meter>
                                            <p id="password-strength-text" style="font-size: small;"></p>

                                            <!-- this script is for the password strength checker -->
                                            <script>
                                                const passwordInput = document.getElementById('{{ form.password1.id_for_label }}');
                                                passwordInput.addEventListener('input', updatePasswordStrength);

                                                function updatePasswordStrength() {
                                                    const password = passwordInput.value;
                                                    const strength = zxcvbn(password).score; // Using zxcvbn to calculate password strength
                                                    const strengthMeter = document.getElementById('password-strength-meter');
                                                    const strengthText = document.getElementById('password-strength-text');

                                                    // Update the strength meter and text based on the password strength
                                                    strengthMeter.value = strength;
                                                    strengthText.textContent = ['Very Weak', 'Weak', 'Fair', 'Strong', 'Very Strong'][strength];
                                                }
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Confirm Password</label>
                                            {{ form.password2 }}
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- the sign up button -->
                                <div class="form-group mt-4 mb-0">
                                    <button type="submit" class="col-md-12 btn btn-light bg-dark-subtle">Sign Up</button><br><br>
                                </div>
                            </form>
                        </div>

                        <!-- the footer of the card || redirects to login page -->
                        <div class="card-footer text-center">
                            <div class="small">
                                <a href="{% url 'login' %}">Have an account? Go to Sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
{% endblock content %}