<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Expenditure System | Update{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% block content %}

        <!-- Insrt your code here -->
        <style>
            .my-custom-row{
                background-color: beige;
                height: 400px;

            }
        </style>
        <h1>Update</h1>
        <div class="container-fluid">
            <div class="row my-custom-row justify-content-center align-items-center">
                <div class="col"><div class="p-4 border bg-color">col_1</div></div>
                <div class="col"><div class="p-4 border bg-color">col_2</div></div>

            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Update
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">item</a></li>
                  <li><a class="dropdown-item" href="#">add</a></li>
                  <li><a class="dropdown-item" href="#">update</a></li>
                </ul>
              </div>
        </div>
        
          

    {% endblock %}
</body>

</html>
